@import url("https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:100,400");
/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif !important;
}

.quote {
  text-align: center;
  /*  Vertical Allignmment  */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.typed-cursor {
  opacity: 0;
}
